@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/*====================General css start ======================*/
body{
	font-family:'Open Sans';
}
a{
	color:#3a4b55;
	outline:none;
}
a:hover{
	color:#000;
	outline:none;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
	outline:none;
}
.text-white{
	color:#fff;
}
.strong{
	font-weight:bold;
}
.float_none{
	float:none;
}
.alignRgt{
	text-align:right;
}
.wordLess{
	text-overflow:ellipsis;
	overflow:hidden;
	width:80%;
	white-space: nowrap;
}
.dashed_border{
	border-bottom:1px dashed #bac3d4;
	}

/*====================login pannel start ======================*/

input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
	outline: none;
	outline: none;
	outline-offset: 0;
}
.form-control:focus {
	border-color: none;
	outline: 0;
	-webkit-box-shadow:none;
	box-shadow: none
}


.paddingNone{
	padding:0;
}
.marginNone{
	margin:0;
}
.panelDiv{
	background:none;
}
.panelInputRegister{
	padding:0px;
}
.panelInputRegister input{
	margin:0 0 12px 0;
}
.txtfield, .txtfield2{
	border-radius:0;
	border:0;
	box-shadow:none;
	position:relative;
	padding:0 5px 0 45px;
}
/*.txtfield {border:1px solid #c8c8c8 !important; background:#FFF !important;}*/
.txtfield3{
	border-radius:0;
	border:0;
	box-shadow:none;
	position:relative;
	padding:0 5px 0 5px;
}
.icon_user{
    height:15px;
    width:15px;
    position: absolute;
	top:11px;
	left:15px;
	z-index:4;
}
.icon_passwrd{
    height:15px;
    width:15px;
    position: absolute;
	top:49px;
	left:16px;
	z-index:4;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .closeBtn:hover, .closeBtn:focus, .closeBtn:active{
	background:#999999;
		color:#fff;
}
.panel{
	box-shadow:none;
}

/*====================login pannel end ======================*/

.header .notifcation-center{
	background:none;
}
.btn{
	font-family:'Open Sans';
}
.mob-profile{
		display:none;
	}
.header .chat-togglerdpd a{
	float:none;
	display:block;
}
.iconset-mob{
	width:0;
	height:0;
	border-top:4px solid #fff;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	display:inline-block;
	margin:16px 0 0 4px;
}

.page-content .breadcrumb {margin:15px 0; font-size:14px;}
.page-content .breadcrumb a {margin:0px; color:#518ca3; font-size: 13px; font-weight: bold;}
.page-content .breadcrumb a:hover {margin:0px; color:#000; }
.whiteBg {padding:10px 15px; background:#FFF; border-radius:6px; margin:10px 0; position:relative;}
.orngBtn{
	background:#32434d;
	color:#fff;
	border:0;
	padding:4px 18px;
	margin:0 0 10px 0;
}
.btnSubmit {background:#546672; padding:8px 26px; color:#FFF; font-size:16px; font-weight:bold;margin-bottom:5px;}
.btnCancel {margin-left:0; margin-bottom:5px;}
/*.btnSubmit2 {
    background: none repeat scroll 0 0 #FB9D23;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 20px 1px;
	margin-bottom:8px;
}*/
.noPaddAll {padding:0px; margin-bottom:10px;}

.alert-danger .alert-link {
    color: #C42929;
}

.alert-danger, .alert-error {
    background-color: #ffdfdf;
    border-color: #ef6565;
}

.alert {
    padding: 10px;
}
.alert .close {
	top: 1.5px;
}
.alert-success {
    background-color: #D9F9E4;
    border-color: #58C87F;
    color: #2D9F55;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
   /* padding: 5px 10px;*/
    vertical-align: top;
}
.actionBtn_img {
    position: relative;
    width: 28px;
}
.cogBtn {
    background: none repeat scroll 0 0 #32434d;
    padding: 8px 6px;
    text-align: center;
    width: 28px;
}
.cogBtn, .cogBtn:hover, .cogBtn:active, .cogBtn:focus {
    color: #FFFFFF;
    outline: medium none;
    text-decoration: none;
}
.actionBtn_img ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.actionBtn_img ul li {
	padding:0 5px;
	display:inline-block; 
}
.actionPopup {
    background: none repeat scroll 0 0 #2e3138;
	border:1px solid #4E555B;
    margin: 0 0 10px;
    padding: 4px 0px;
	position:absolute;
	top:0px;
	right:3px;
	z-index:9;
	min-width:105px;
	text-align:center;
	overflow:visible!important;
}
.actionPopupArw {
	border-top: 8px solid rgba(0, 0, 0, 0);
	border-bottom: 8px solid rgba(0, 0, 0, 0);
	border-left: 8px solid #2f3336;
    height: 0;
    right:-8px;
    position: absolute;
    top: 6px;
    width: 0;
}
.actionPopup a{
	color:#fff;
	}
.borderRadius_3 {
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.bg-gray {
    background: none repeat scroll 0 0 #F3F5F9;
}
/*.dropdown-menu::before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu::after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
}*/
.page-content .content{
	padding-top:75px;
}
.site-footer{
	padding:10px 0;
	background:#e8ebf1;
	color:#333;
}
/*.scrollTop{
	background:none rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    float: right;
    height: 20px;
    margin-right: 1%;
    width: 20px;
}*/
.page-sidebar {
  background-color: #0F3644 !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu {
  background-color: #3a4b55;
}


.page-sidebar .page-sidebar-wrapper > ul > li:hover > a,
.page-sidebar .page-sidebar-wrapper > ul > li.active > a{
  background: #3a4b55 /*url(../images/borderBg.png) repeat-x left bottom*/;
  transition:all 0.3s ease 0s;
  border-left:2px solid #25BBF7;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul > li:hover > a,
.page-sidebar .page-sidebar-wrapper > ul > li > ul > li.active > a{
  background: #4d5d66 /*url(../images/borderBg.png) repeat-x left bottom*/;
  transition:all 0.3s ease 0s;
  border-left:2px solid #cbeffd;
}

.page-sidebar .page-sidebar-wrapper > ul > li.open > a{
border-left:2px solid #65b688;
background:#65b688;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a:hover {
  background: #2c3a42 !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li.active > ul.sub-menu{
	width:100%;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li > a{
	text-align:center;
}
.page-sidebar .page-sidebar-wrapper > ul > li > a{
    color:#25BBF7;
    border-left:2px solid #FFF;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul > li > a{
    color:#25BBF7;
    border-left:2px solid #2d3a42;
}
.header .chat-toggler a, .header .chat-togglerdpd a{
	font-size:13px;
}
.table > tbody > tr > td, .table > tfoot > tr > td{
	border-bottom:1px solid #E8EDF1;
	border-top:0px;
}
.pagination{
	margin:0;
	float:right;
}
.pagination > li{
	padding-left:0px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span{
	border-radius:0px;
}
.pagination > li > a, .pagination > li > span{
	border:0px;
	background:none;
	color:#585c5f;
	padding:3px 9px;
	margin:0 1px 0 0;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background:#2e3138!important;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
	border-radius:5px;
}
.checkbox label:before{
	top:1px;
}
.table-condensed th .checkbox{
	margin-left:6px;
}
.edit_link{
	font-size:18px;
	color:#093;
}
.delete_link{
	font-size:18px;
	color:#C33;
}
/*.scrollup {
	bottom: 40px;
	right: 20px;
	height: 22px;
	width: 22px;
	background:url(../img/top.png) 0 0 no-repeat;
	text-indent:-9999px;
	position:fixed;
	display:none;
}*/
.scrollup {
  background:url(../images/pullup.png) no-repeat;
  background-repeat:no-repeat;
  background-position: 0px 0px;
  width: 27px;
  height: 27px;
  position: fixed;
  bottom: 92px;
  right: 2%;
  display: none;
  text-indent: -9999px;
  z-index: 101;
}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th{
	background:#f8f9fc;
}
.user-info-wrapper .user-info .username{
	font-size:16px;
}
.user-info-wrapper{
	margin:10px 30px 10px;
}
.user-info-wrapper .user-info{
	background:none;
	margin:10px 0 0 0;
}
.user-info-wrapper .user-info .status{
	margin:0px 0 3px 0;
}
.user-info-wrapper .user-info .status, .online{
	color:#3C9;
}
.offline{
	color:#6f7b8a;
}
.user-info-wrapper .user-info a:hover{
	color:#a7b0d5;
}
.user-info-wrapper .user-info .status-icon{
	margin:0;
}
.page-sidebar.mini {
  /*background-color: #0aa699 !important;*/
  background-color: ##212222!important;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li > a:hover,
.page-sidebar.mini .page-sidebar-wrapper > ul > li:hover > a {
  /*background: #0b9c8f;*/
  background: #c72b22;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li.open > a, .page-sidebar.mini .page-sidebar-wrapper > ul > li > a:hover, .page-sidebar.mini .page-sidebar-wrapper > ul > li:hover > a{
	background:#3a4b55;
}
.table-hover tbody tr.row_selected:hover > td{
background:#fffcd2 !important;
}
.popup_box{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
}
.popup_box button{
	background:none;
}
#toggle{
	color: #fff;
	border: 0px;
	z-index: 99999;
}
.target{
	width: 95px;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 30px;
	z-index: 99999;
}
.target ul{
	padding: 0px;
	margin: 0px;
}
.target ul li{
	list-style-type: none;
	float: left;
	padding: 0 10px;
	margin: 0px;
}
/*----------------dashboard----------------------*/
.orangeBox{
	background:#65b688;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.orangeBox:hover{
	background:#4d8d69;
	cursor:pointer;
	}
.greenBox{
	background:#d65c4f;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.greenBox:hover{
	background:#ad453a;
	cursor:pointer;
}
.blueBox{
	background:#3ca2bb;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.blueBox:hover{
	background:#2e8094;
	cursor:pointer;
	}
.box_heading{
	font-family:'Open Sans';
	font-size:19px;
	line-height:26px;
	color:#f8f9fc;
}
.box_title{
	color:#fff;
	padding: 10px 0 10px 0;
	margin:0 0 0 115px;
	}
.box_title_small{
	color:#fff;
	padding: 10px 0 10px 0;
	margin:0 0 0 85px;
	}
.box_title  .number , .box_title_small .number{
    font-size: 34px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 0;
	color:#fff;
}
.box_title .more , .box_title_small .more{
    clear: both;
    display: block;
    font-size: 13px;
    font-weight: 400;
    position: relative;
	color:#fff;
    text-transform: uppercase;
}
.box_title .more:hover, .box_title_small .more:hover{
	color:#000;
}
.iconHolder {
    display: block;
    float: left;
    font-size: 35px;
    height: 80px;
    line-height: 35px;
    margin-bottom: 15px;
    padding-left: 12px;
    padding-top: 10px;
    width: 80px;
}
.iconHolder2 {
    display: block;
    float: left;
    font-size: 35px;
    height: 0px;
    line-height: 35px;
    margin-bottom: 15px;
    padding-left: 12px;
    width: 80px;
}
.iconHolder > i, .iconHolder2 > i{
    color: white;
    opacity: 0.3;
}
.iconHolder > i{
    font-size: 110px;
    line-height: 110px;
    margin-left: -25px;
	margin-top:3px;
}
.iconHolder2 > i {
    font-size: 43px;
    line-height: 55px;
    margin-left: 13px;
	margin-top:10px;
}
.memberDetails{
}
.userPic{
	width:38px;
	height:38px;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	float:left;
	display:inline-block;
	border:2px solid #fff;
	overflow:hidden;
	margin:0 8px 0 0 !important;
}
.showName{
	color:#efefef;
}
.showName .headtitle{
	font-weight:bold;
	font-size:11px;
	text-transform:uppercase;
	color:#ff7000;
}
.user-info-wrapper .user-info{
	display:inherit;
}
/*===========  FORM  ==========*/
input, textarea[type="submit"], .loginDiv input[type="button"]{
	width:auto;
}
.btn-primary {
    background-color: #2d3a42;
    color: #ffffff;
}
.tiles.gray{
	background:#f3f5f9;
}
.tiles .tiles-body {
  padding: 10px 18px 10px 18px;
}
.tiles_heading_orng{
	background:#fa9e26;
	color:#000;
	padding: 10px 18px 10px 18px;
	font-family:'Open Sans';
	font-size:15px;
}
.tiles_heading_brown{
	background:#32434d;
	color:#fff;
	padding: 10px 18px 10px 18px;
	font-family:'Open Sans';
	font-size:15px;
}
.tiles_heading_beepBlue{
	background:#32434d;
	color:#fff;
	padding: 10px 18px 10px 18px;
	font-family:'Open Sans';
	font-size:15px;
}
.radio.radio-status input[type="radio"]:checked + label:before {
    border: 1px solid #33cc99;
}
.radio label:before {
    background-color: #FFFFFF;
    border: 1px solid #C2C6CB;
    border-radius: 99px;
    bottom: 2.5px;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 17px;
}
.radio.radio-status label:after {
    background-color: #33cc99;
    border: 1px solid #33cc99;
}
textarea {
    padding-left: 12px !important;
    padding-top: 10px !important;
	resize:none;
}
.searchForm{
	width:150px;
	float:left;
}
.searchForm select, .searchForm input[type="text"]{
	min-height:28px!important;
	height:28px!important;
	padding:2px 5px;
	width:60px;
}
.searchForm label{
	line-height:28px;
	float:left;
}
.timeBtn, .timeBtn:hover{
	background:#fff;
	}
.timepicker-picker  .table-condensed > tbody > tr > td{
padding:0px;
}
.searchSubmit{
	height:25px;
	background:url("../images/search_icon.png") 5px 7px no-repeat;
	text-align:center;
	border:0px;
	text-indent:-9999px;
	cursor:pointer;
	}
.searchSubmit:focus{
	background:url("../images/search_icon.png") 0 5px no-repeat #f4f5f7;
}



/*============================css change===============================*/
.loginWrapper{
	background: #2d3a42;
	background-attachment:fixed;
	padding:0;
	margin:0;
	color:#e3e3e3;
	font-family:'Open Sans';
}
.loginBtn{
	background:#2d3a42;
	border-radius:0;
	border:0;
	height:44px;
	font-size:18px;
	margin:0 0 10px 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.loginBtn:hover, .orngBtn:hover, .orngBtn:focus, .btnSubmit:hover, .btnSubmit:focus{
		background:#212c32;
		color:#fff;
}
.loginDiv{
	width:460px;
	padding:110px 70px 0 70px;
	margin:120px auto 0;
	background:#518ca3;
	position:relative;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
}
.logoHolder{
	width:167px;
	height:167px;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	position:absolute;
	top:-80px;
	left:50%;
	margin-left:-83px;
	box-shadow: 0px 5px 5px #212222;
	border:6px solid #fff;
        background: #fff;
        text-align: center;        
}
.logoHolder img{
	width:95%;
	height:52%;
        margin-top: 32px;
}
.loginDiv h1{
	font:normal 22px/34px 'Open Sans', Arial, Helvetica, sans-serif;
	color:#ebebeb;
	margin:0;
	padding:0 0 20px 0;
	text-align:center;
	text-transform:uppercase;
}
.panelInput{
	background:#9ccadc;
	padding:5px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
/*.form-control{
    background: #2f3336;
}*/
.txtfield2, .txtfield2:focus{
	border-top:1px solid #515457 !important;
}
.loginDiv .form-control::-moz-placeholder{
    color: #2d3a42;
}
.form-control::-moz-placeholder{
    color: #666;
}

.checkbox a{
	color:#fff;
	outline:none;
}
.registerDiv{
	width:460px;
	background:#3a4b55;
	padding:20px 0;
	text-align:center;
	margin:0 auto;
	color:#fff;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}
.registerDiv a{
	color:#d65c4f;
	outline:none;
}
.loginFooter{
	width:460px;
	margin:30px auto 30px;
	text-align:center;
	color:#ccc;
}
.loginDiv .uneditable-input, .loginDiv textarea, .loginDiv input[type="text"], .loginDiv input[type="password"], .loginDiv input[type="datetime"], .loginDiv input[type="datetime-local"], .loginDiv input[type="date"], .loginDiv input[type="month"], .loginDiv input[type="time"], .loginDiv .loginDiv input[type="week"], .loginDiv input[type="number"], .loginDiv input[type="email"], .loginDiv input[type="url"], .loginDiv input[type="search"], .loginDiv input[type="tel"], .loginDiv input[type="color"]{
    background: #9ccadc;
    border: none;
    color: #2d3a42;
}
.deepGray_btn{
	background:#2d3a42;
	color:#fff;
	padding:4px 8px;
}
.deepGray_btn:hover{
	background:#1e282e;
	color:#fff;
	padding:4px 8px;
}
.loginDiv .uneditable-input.focus, .loginDiv textarea:focus, .loginDiv select:focus, .loginDiv input[type="text"]:focus, .loginDiv input[type="password"]:focus, .loginDiv input[type="datetime"]:focus, .loginDiv input[type="datetime-local"]:focus, .loginDiv input[type="date"]:focus, .loginDiv input[type="month"]:focus, .loginDiv input[type="time"]:focus, .loginDiv input[type="week"]:focus, .loginDiv input[type="number"]:focus, .loginDiv input[type="email"]:focus, .loginDiv input[type="url"]:focus, .loginDiv input[type="search"]:focus, .loginDiv input[type="tel"]:focus, .loginDiv input[type="color"]:focus, .m-uneditable-input:focus{
    background: #9ccadc;
    border-color: none !important;
}
.header-seperation{
	/*background:#3a4b55;*/
}
.header .navbar-inner{
	background:#15323d  !important;
}
.page-content .breadcrumb i, .page-content .breadcrumb span, .page-content .breadcrumb li{
    font-size: 13px;
    font-weight: 600;
    color: #333;
}
.uneditable-input.focus, textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .m-uneditable-input:focus, .form-control:focus{
    border-color: #9fa1a4;
    background: #f4f5f7;
}
.modal-body {
    background-color:transparent;
}
.close, .close:hover, .close:focus {
	color:#fff;
	opacity:1;
	}
.modal-header .close {
    margin-right: 5px;
    margin-top: 5px;
}
.closeBtn{
	background:#3d4145;
	color:#fff;
	}
/*========================================= media quries =========================================*/
@media (max-width :1169px){
.userPic{
	margin:0 -8px 0 0!important;
}
}
@media (max-width: 480px){
	.loginDiv{
		width:auto;
		padding:113px 20px 0 20px;
		margin:120px 1em 0;
	}
	.registerDiv{
		width:auto;
		margin:0 1em;
	}
	.loginFooter{
		width:auto;
		margin:30px auto;
	}
}
@media (max-width: 360px){
	.searchForm, .pagination{
		float:left;
		margin:5px 0;
	}
}
@media (max-width: 320px){
	.registerDiv a{
		display:block;
	}
}